{% extends "EN_main/base.html" %}
{%block page_header%}
  <h1 >Help</h1>
{%endblock page_header%}
{%block content%}
  <div class="form-text"><ul>
  <li>If you want to create a new website, please click Websites first, and then click Add a new website.  </li>
  <li>If you want to create a new user name and password, please click Websites first, then click the website where the user name and password belong, and finally click Add new username and password.</li>

  <li>If you want to view the existing Websites, please click Websites.</li>
  
  <li>If you want to check the username and password of a website, please click Websites, and then click your website.</li></ul></div>
  <div class="pb-2 mb-2 border-bottom">
      
  
      </div>
  <div class="pb-2 mb-2 border-bottom">
      
    <h1 >About This Website</h1>
  
      </div>
      <div class="form-text"><ul>
  <li>This website is made by Django and Bootatrap5.</li>
  
  
  <li>Prohibit the extensive use of system resources.</li>
  
  <li>This website prohibits the processing of confidential information.</li>
  <li>If you have any suggestions about this website, please submit them to yangrenruiyrr@163.com.</li>
  </ul>
  </div>
  <div class="pb-2 mb-2 border-bottom">
      
  
  </div>
{%endblock content%}