{% extends 'EN_main/base.html' %}

{% block page_header %}
  <h1>{{ website.text }}</h1>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'EN_main:new_username' website.id %}">Add new username and password</a>
  </p>

  {% for username in usernames %}
    <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
      <h4 class="card-header">
        {{ username.date_added|date:'Y-m-d H:i:s' }}
        <small><a href="{% url 'EN_main:edit_username' username.id %}">
          edit username and password</a></small>
      </h4>
      <!-- Card body with username text -->
      <div class="card-body">Username:{{ username.text }}</div>
      <div class="card-body">Password:{{ username.text2 }}</div>
    </div>
  {% empty %}
    <p>There are no usernames and passwords for this website yet.</p>
  {% endfor %}

{% endblock content %}