{% extends "main/base.html" %}
{%block page_header%}
  <h1>帮助</h1>
{%endblock page_header%}
{%block content%}
  <div class="form-text"><ul>
  <li>如果您要添加新网站，请先点击“网站”，然后点击“添加一个新的网站”。</li>
  <li>如果您要添加新的用户名和密码，请先点击“网站”，然后点击用户名和密码所属的网站，最后点击“添加新的用户名和密码”。</li>

  <li>如果您想查看现有网站，请单击“网站”。</li>
  
  <li>如果您想要查看网站的用户名和密码，请点击“网站”，然后点击您的网站。</li></ul></div>
  <div class="pb-2 mb-2 border-bottom">
      
  
      </div>
  <div class="pb-2 mb-2 border-bottom">
      
    <h1>关于这个网站</h1>
  
      </div>
      <div class="form-text"><ul>
  <li>这个网站是由Django和Bootatrap5制作的。</li>

  
  <li>禁止滥用系统资源。</li>
  
  <li>本网站禁止处理机密信息。</li>
  <li>如果你对本网站有建议，请提交到yangrenruiyrr@163.com。</li>
  </ul>
  </div>
  <div class="pb-2 mb-2 border-bottom">
      
  
  </div>
{%endblock content%}